$text-pr: #e5e5e5;
$text-pr-d: #a5a5a5;

//blue
$navy: #000080;
$midnight: #191970;
$royal: #4169E1;
$steel: #4682B4;

$skoyel: #FFEE80;

$orange: #FF7A00;
$lb: #00E0FF;


$smoblu: #3366CC;
$smblu: #15499B;
$smorg: #EB9A0B;
$smoorg: #FFCC66;


@mixin background-size($value) {
	-webkit-background-size: $value;
    -moz-background-size: $value;
    background-size: $value;
    -o-background-size: $value;
}

html, body {
	margin: 0px;
	font-family:  'Roboto' , 'Marck Script', 'Press Start 2P', sans-serif;
}

section {
	min-height: 100vh;
}

#info, #team, #students, #apply, #contact {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	
}

header {
	z-index: 9999;
	background-color: rgba(240,240,240,0);
	position: fixed;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid;
	display: inline-block;

	p {
		text-align: right;
		display: inline-block;
		width: 30%; 
	}

	nav {
		display: inline-block;
		margin: 0px;
		width: 66%;

		ul {
			list-style-type: none;
			padding: 0px;
			display: flex;
			justify-content: right;

			li {
				display: inline-block;
				margin-left: 15px;
				a {
					color: #000;
					text-decoration: none;

					&:hover {
						color: $text-pr-d;
					}
				}
			}
		}
	}
}

#jumbo {
    width: 100%;
    height: 100vh;
    
    @include background-size(cover);


	background-image: url("../img/intro.jpg");
	background-repeat: no-repeat;
	color: $text-pr;
	
	display: flex;
	align-items: center;
	justify-content: center;

	.intro {
		margin: 5px;

	}

	.media {
		margin: 5px;

		a {
			color: $text-pr;
			text-decoration: none;

			&:hover {
				color: $text-pr-d;
			}
		}

		ul {
			list-style-type: none;
		}
	}
}

.lead {
	display: flex;
	justify-content: center;
	align-items: center;
}

#info {
	// padding: 100px;
	margin: 0px;
	background: $smoblu;
	color: $text-pr;	

	h1 {
		margin-top: 0px;
		padding-top: 20px;
		border-bottom: 1px solid;
	}

	.pros {
		overflow: hidden;
		display: inline-block;
		margin: 15px;

		.col {
			float: left;
			width: 50%;
			max-height: 200px;
			position: relative;

			p {
				text-align: center;
				padding: 20px;
			}

			h3 {
				@extend p;
				font-style: bold;
			}

		}
	}
}

#team {


	// padding: 100px 0px 100px 0px;

	.profiles-jumbo {
		margin-left: 5%;
		display: flex;
		justify-content: center;

		.profile {
			width: 30%;
			text-align: center;

			img {
				width: 90%;
				height: 90%;
				border-radius: 98%;
			}

			a {
				text-decoration: none;
				color: rgba(0,0,0,1);

				&:hover {
					color: rgba(80,80,80,1);
				}
			}


		}
	}
}

#photo {
	overflow: hidden;

	.photo-box {
		float: left;
		width: 33.3%;
		height: 50vh;
		position: relative;

		img {
			position: absolute;
			height: 100%;
			width: 100%;
		}

		.description {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: $smoblu;
			z-index: 100;
			opacity: 0;
			color: $text-pr;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

#students {
	// padding: 100px 0px 100px 0px;
	text-align: center;
	background-color: $smorg;
	color: $text-pr;

	p {
		font-size: 200%;
	}
}

#contact {
	background-color: $smoorg;
	// padding: 100px 0px 100px 0px;
	text-align: center;
}

#apply {
	// padding: 100px 0px 100px 0px;
	text-align: center;
	background-color: $smblu;
}